.dosis-body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }  
.body{
    background-image: https://unsplash.com/photos/group-of-people-standing-on-green-grass-field-during-daytime-SAwxJ8PHY3Q();
    font-family: "Dosis", sans-serif;
}
.navbar {
    font-size: 20px;
}
.logo{
    float: left;
}
.topnav {
    background-color: #ffffff;
    overflow: hidden;
}
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: #cecece;
  color: black;
}
.topnav a.active {
  background-color: #88a160;
  color: rgb(0, 0, 0);
}