.body{
    font-family: "Dosis", sans-serif;
}
.dosis-body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}  
.navbar {
    font-size: 20px;
    position:fixed;
}
.logo{
    float: left;
}
.navbar {
    background-color: #ffffff;
    width: 100%;
    opacity: 85%;
}
.navbar a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 40px 25px;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  background-color: #dcdbdb;
  color: black;
}
.navbar a.active {
  background-color: #c4d7a5;
  color: rgb(0, 0, 0);
}