body {
    background-color: #8ac0c0;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: right;
    justify-content: right;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 2px solid #000000;
    font-family: "Dosis", sans-serif;
}

.navbar a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 16px;
  z-index: 100;
  align-content: center;
}

.active:hover, .nav-services:hover, .nav-safety:hover {
  background-color: #dcdbdb;
  color: black;
}

.join-button button {
    background-color: rgba(235, 247, 76, 0.7);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
}

.navbar button:hover {
    background-color: rgba(230, 241, 77, 1);
}

.grid-container {
    display: grid;
    margin: 100px 800px 0px 20px;
    /* padding: 30px; */
    /*grid-template-columns: 30vh 30vh 30vh 30vh;
    grid-template-rows: 30vh 30vh;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
}

.grid-item {
    display: grid;
    padding: 10px;
    font-family: "Dosis";
    box-shadow: 0 0 5px;
}

.box-1 {
    background-color: #c4d7a5;

    .text-1 {
        font-variant: small-caps;
        font-weight: 400;
    }
}

.box-2 {
    background-image: url(images/businessman-607834_1280.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.box-3 {
  background-color: #4e5c32;

    .text-3 {
        font-variant: small-caps;
        font-weight: 400;
    }
}

.box-4 {
    background-image: url(images/dog\ avatar.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.box-5 {
    background-image: url(images/golf-23794_640.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.box-6 {
    background-color: rgb(235, 73, 24);

    .text-6 {
        font-variant: small-caps;
    }
}    
 
.box-7 {
    background-image: url(images/superhero-5981125_640.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.box-8 {
    background-color: lightgrey;

    .text-8 {
        font-variant: small-caps;
        font-size: 25px;
    }
}

.sign-up-container {
    display: flex;
    align-items: center; /*--- This makes sure that the images remain in the center as the text on the right grows ---*/
    /*margin: 0;
    padding: 0;
    width: 80vh;
    height: 80vh;*/
    box-sizing: border-box;
    line-height: 1.4;
    color: #333333;
    background: white;
    border-top: 5px solid #009578;
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    z-index: -2;
    position: relative;
    float: right;
    right: 5%;
    top: -400; 
    /* How do I get this the flex properly? */
}

.sign-up-container > {
    display: flex;
    flex-direction: column;
}

.sign-up-left, .sign-up-right {
    padding: 20px;
}

.sign-up-logo {
    max-width: 100px;
}

.sign-up-title {
    font-size: 1.4em;
}

.sign-up-des {
    font-size: 12px;
}

.sign-up-link {
    color: #009578;
}

.sign-up-errors {
    color: rgb(190, 4, 4);
    font-size: 12px;
}

.sign-up-label {
    display: block; /*--- Fixes the white input boxes from being miss-aligned, to perfectly stacked ---*/
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.sign-up-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 10px;
    outline: none;
    border: 2px solid #dddddd;
}

.sign-up-input:focus {
    border-color: #009578;
}

.sign-up-button {
    display: block;
    margin-left: auto;
    margin-top: 15px;
    padding: 0.6em 1.0em;
    font-weight: bold;
    font-size: 1.0em;
    background: #009578;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
}

.sign-up-button:active {
    background: #00725b;
}

.grid-container-2 {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 100px 100px 100px;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    /* margin-top: 100; */
    font-family: "Dosis";
    row-gap: 20px;
    z-index: -2;
}

/* This did not work the right way but may be useful in the future
.grid-2 {
    display: grid;
    justify-content: center;
    align-items: center;
}*/

.box1-g2 {
    font-size: 30px;
    font-variant: small-caps;
}

.box2-g2 {
    background-color: white;
    display: inline-block;
    justify-content: left;
    padding-left: 10;
}

/* How to get the font size to auto rescale when changing the size of the display? */

.number-1 {
    font-size: 50px;
    margin: 0;
    color: white;
    background-color: rgb(250, 170, 20);
    padding: 30px;
    border-top-right-radius: 30%;
}

.sec-1 {
    display: inline-grid;
    justify-items: center;
    position: absolute;
    padding: 20px;
    font-size: 25px;
    margin: 0;
}

.box3-g2 {
    display: inline-block;
    justify-items: right;
    padding-right: 10px;
    background-color: white;
}

.number-2 {
    font-size: 50px;
    margin: 0;
    color: white;
    background-color: rgb(250, 170, 20);
    position: relative;
    float: right;
    padding: 30px;
    border-bottom-left-radius: 30%;
}

.sec-2 {
    display: inline-grid;
    justify-items: center;
    margin: 0;
    padding: 20px;
    font-size: 25px;
}

.box4-g2 {
    background-color: white;
    display: inline-block;
    justify-content: left;
    padding-left: 10;
}

.number-3 {
    font-size: 50px;
    margin: 0;
    color: white;
    background-color: rgb(250, 170, 20);
    padding: 30px;
    border-top-right-radius: 30%;
}

.sec-3 {
    display: inline-grid;
    justify-items: center;
    position: absolute;
    padding: 20px;
    font-size: 25px;
    margin: 0;
}

.box5-g2 {
    display: inline-block;
    justify-items: right;
    padding-right: 10px;
    background-color: white;
}

.number-4 {
    font-size: 50px;
    margin: 0;
    color: white;
    background-color: rgb(250, 170, 20);
    position: relative;
    float: right;
    padding: 30px;
    border-bottom-left-radius: 30%;

}

.sec-4 {
    display: inline-grid;
    justify-items: center;
    margin: 0;
    padding: 20px;
    font-size: 25px;
}

.box6-g2 {
    background-color: white;
    display: inline-block;
    justify-content: left;
    padding-left: 10;
    margin-bottom: 200;
    height: 100px;
}

.number-5 {
    font-size: 50px;
    margin: 0;
    color: white;
    background-color: rgb(250, 170, 20);
    padding: 30px;
    border-top-right-radius: 30%;
}

.sec-5 {
    display: inline-grid;
    justify-items: center;
    position: absolute;
    padding: 20px;
    font-size: 25px;
    margin: 0;
}

/* I was trying to get the text on rows 2 and 4 to move to the right and be closer to the number but I could not get it to work.  */