body {
    background-color: AFA99D;
}

/*--- Navbar additions below ---*/

.dosis-body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-weight: bolder;
}  

/*--- How to seperate just the navbar styling from the body ---*/

.navbar {
    display: flex;
    align-items: right;
    justify-content: right;
    font-size: 16px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 2px solid #000000;
    font-family: "Dosis", sans-serif;
}

.navbar a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 16px;
  z-index: 100;
  align-content: center;
}

.active:hover, .nav-services:hover, .nav-safety:hover {
  background-color: #dcdbdb;
  color: black;
}

.join-button button {
    background-color: rgba(235, 247, 76, 0.7);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    
}

.navbar button:hover {
    background-color: rgba(230, 241, 77, 1);

}

/*--- End of navbar styling ---*/

/*--- Sign up form with logo ---*/

html {
    height: 100%;
}

body {
    
    height: 800px;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: 87AEA9;
    background-size: cover;
}

.sign-up-container {
    display: flex;
    align-items: center; /*--- This makes sure that the images remains in the center as the text on the right grows ---*/
    margin-top: 70px;
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.4;
    color: #333333;
    background: white;
    border-top: 5px solid #009578;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.sign-up-container * {
    font-family: sans-serif;
}

.sign-up-left .sign-up-right {
    padding: 40px;
}

.sign-up-logo {
    width: 200px;
}

.sign-up-title {
    margin-top: 0;
    font-size: 2.0em;
}

.sign-up-link {
    color: #009578;
}

.sign-up-errors {
    color: rgb(190, 4, 4);
}

.sign-up-label {
    display: block; /*--- Fixes the white input boxes from being miss-aligned, to perfectly stacked ---*/
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.sign-up-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
    border: 2px solid #dddddd;
}

.sign-up-input:focus {
    border-color: #009578;
}

.sign-up-button {
    display: block;
    margin-left: auto;
    margin-top: 15px;
    padding: 0.6em 1.0em;
    font-weight: bold;
    font-size: 1.0em;
    background: #009578;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
}

.sign-up-button:active {
    background: #00725b;
}

/*--- End of sign-up form styling ---*/

/*--- Below is for smaller devices. If the display goes below 768px, then using this styling. ---*/

@media screen and (max-width: 768px) {
    body {
        display: block;
        padding: 0;
    }

    .sign-up-container {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0;
    }
}

/*--- Flexbox container for why to join ---*/

.join-message-flexbox-container {
    border: 2px solid black;
    margin: 0px 70px 0px 0px;
    padding: 10px 10px;
    border-radius: 50px;
    line-height: 2.5;
    font-family: "Dosis", sans-serif;
    font-size: 15px;
}

.flex-1 {
    
}
