.body{
  background-color: #8ac0c0;
  margin: 0;
} 
.dosis-body {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
} 
#padding{
  height:125px;
  width:100%;
  background-color: #8ac0c0;
  position: relative;
  padding-top:15px;
  padding-bottom: 15px;;
  z-index:-1;
  overflow:hidden;
}
.navbar {
    font-size: 20px;
    opacity: 85%;
    position:fixed;
    background-color: #ffffff;
    width: 100%;
    font-family: "Dosis", sans-serif;
    overflow: hidden;
    z-index: 80;
    top: 0;
}
.navbar a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 16px;
  font-style: Dosis;
  font-weight: bold;
  overflow:hidden;
}
.navbar a:hover {
  background-color: #dcdbdb;
  color: black;
}
.navbar a.active {
  background-color: #c4d7a5;
  color: rgb(0, 0, 0);
}
.logo{
  position: absolute;
  z-index: 100;
  top:0px;
  background-color:#ffffff;
  padding:15px;
  border-radius:35%;
}
.banner{
  position:relative;
  z-index: -1;
  overflow:hidden;
  width:100%;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.banner>image{
  width:100%;
  height: auto;
}
.title{
  font-family: "Dosis", sans-serif;
  width: 80%;
  padding-left:10%;
  padding-right:10%;
  padding-top:15px;
  padding-bottom:15px;
  text-align: center;
  background-color:#c4d7a5;
}

.for{
  font-family: "Dosis", sans-serif;
  width: 100%;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:1%;
  padding-right:1%;
  text-align: center;
  background-color:#ffffff;
}
.for:hover {
  background-color: #c4d7a5;
}

.safetybanner{
  display:grid;
  flex-direction: grid;
  grid-auto-flow: row;
  grid-template-columns: auto auto auto auto;
  grid-template-rows:auto;
  column-gap: 1%;
  width: 100%;
  padding-left:1%;
  padding-right:1%;
  padding-top:5%;
  padding-bottom:5%;
  justify-content: space-evenly;
  align-items: center;
}
.safetybanner2{
  display:grid;
  flex-direction: grid;
  grid-auto-flow: row;
  grid-template-columns: auto auto auto auto;
  grid-template-rows:auto;
  column-gap: 1%;
  width: 100%;
  padding-left:1%;
  padding-right:1%;
  padding-top:5%;
  padding-bottom:5%;
  justify-content: space-evenly;
  align-items: center;
}
.ex1{
  font-family: "Dosis", sans-serif;
  height: 95%;
  padding:25px;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #ffffff;
  text-align: center;
  border-radius:10%;
}
.ex2{
  font-family: "Dosis", sans-serif;
  height: 95%;
  padding:25px;
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #ffffff;
  text-align: center;
  border-radius:10%;
}
.ex3{
  font-family: "Dosis", sans-serif;
  height: 95%;
  padding:25px;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: #ffffff;
  text-align: center;
  border-radius:10%;
}
.ex4{
  font-family: "Dosis", sans-serif;
  height: 95%;
  padding:25px;
  grid-column-start: 4;
  grid-column-end: 5;
  background-color: #ffffff;
  text-align: center;
  border-radius:10%;
}
